*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar{
    padding: 0 10px;
}

/* Hero Section */
.heros{
    margin: 100px 0;
    padding: 0 10px;
}
.hero img{
    width: 100%;
    padding: 50px 0;
}
.hero1 h1{
    font-weight: 700;
}
.hero1 p{
    font-size: .9rem;
}
.hero1 a{
    background-color: #30B8E6;
    border: unset;
    text-decoration: none;
}
.hero1 a:hover{
    background-color: #30B8E6;
}

/* Section 1 */
.services{
    margin-top: 300px;
}
.services h1{
    text-align: center;
    font-weight: 700;
}
.service{
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.service1{
    justify-content: center;
}
.list{
    background-color: #30B8E6;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
}
.service1 h4{
    font-weight: 700;
}
.service1 p{
    color: #a4a4a4;
}

/* Section 2 */
.ratings{
    margin-top: 300px;
}

.ratings h2{
    font-weight: 700;
}
.ratings p{
    color: #30B8E6;
}


/* Responsive */
/* Large Desktop */
@media(min-width: 1200px){
    .hero img{
        width: 70%;
        padding: unset;
    }
    .hero1{
        text-align: left;
        padding-top: 50px;
    }
    .hero1 h1{
        margin: unset;
        font-size: 3rem;
        width: 70%;
    }
    .hero1 p{
        width: 50%;
        padding-top: 15px;
        margin: unset;
    }
    
    .services h1{
        margin: auto;
        font-size: 3rem;
        width: 50%;
    }
    
    .service1{
        text-align: left;
        margin: 50px auto;
    }
    .service1 h4{
        width: 60%;
        margin: unset;
        padding: 10px 0;
        font-size: 1.2rem;
    }
    .service1 p{
        width: 70%;
        margin: unset;
    }

    .ratings{
        text-align: center;
        width: 80%;
    }
    .rating{
        margin: 50px 0;
    }
    .rating h2{
        font-size: 2rem;
    }
    .rating1 h2{
        width: 25rem;
        text-align: left;
        font-size: 2rem;
    }

}

/* Middle Desktop */
@media(min-width: 1025px) and (max-width: 1199px){
    .hero img{
        width: 70%;
        padding: unset;
    }
    .hero1{
        text-align: left;
        padding-top: 50px;
    }
    .hero1 h1{
        margin: unset;
        font-size: 3rem;
        width: 70%;
    }
    .hero1 p{
        width: 60%;
        padding-top: 15px;
        margin: unset;
    }

    .services h1{
        margin: auto;
        font-size: 3rem;
        width: 60%;
    }
    .service1{
        text-align: left;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
    }
    .service1 h4{
        width: 80%;
        margin: unset;
        padding: 10px 0;
        font-size: 1.2rem;
    }
    .service1 p{
        width: 70%;
        margin: unset;
    }

    .ratings{
        text-align: center;
    }
    .rating{
        margin: 50px 0;
    }
    .rating h2{
        font-size: 2rem;
    }
    .rating1 h2{
        text-align: left;
        font-size: 1.5rem;
    }
}

/* Desktop */
@media(min-width: 992px) and (max-width: 1024px){
    .hero img{
        width: 70%;
        padding: unset;
    }
    .hero1{
        text-align: left;
        padding-top: 50px;
    }
    .hero1 h1{
        margin: unset;
        font-size: 2.3rem;
        width: 70%;
    }
    .hero1 p{
        width: 60%;
        padding-top: 15px;
        margin: unset;
    }

    .services h1{
        margin: auto;
        font-size: 2.3rem;
        width: 60%;
    }
    .service1{
        text-align: left;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
    }
    .service1 h4{
        width: 80%;
        margin: unset;
        padding: 10px 0;
        font-size: 1.2rem;
    }
    .service1 p{
        width: 70%;
        margin: unset;
    }

    .ratings{
        text-align: center;
    }
    .rating{
        margin: 50px 0;
    }
    .rating h2{
        font-size: 2rem;
    }
    .rating1 h2{
        text-align: left;
        font-size: 1.5rem;
    }
}
/* Tablet */
@media(min-width:768px) and (max-width: 991px){
    .hero{
        text-align: center;
    }
    .hero img{
        width: 70%;
    }
    .hero1{
        text-align: center;
        padding-top: unset;
    }
    .hero1 h1{
        margin: auto;
        font-size: 2.2rem;
        width: 50%;
    }
    .hero1 p{
        width: 60%;
        padding-top: 15px;
        margin: 0 auto;
    }

    .services h1{
        margin: auto;
        font-size: 2.2rem;
        width: 70%;
    }
    .service1{
        text-align: center;
        margin: 50px auto;
    }
    .service1 h4{
        width: 40%;
        margin: auto;
        padding: 10px 0;
        font-size: 1.2rem;
    }
    .service1 p{
        width: 60%;
        margin: auto;
    }

    .ratings{
        text-align: center;
    }
    .rating{
        margin: 50px 0;
    }
    .rating h2{
        font-size: 2rem;
    }
    .rating1 h2{
        text-align: left;
        font-size: 1.5rem;
    }
    
}

/* Handphone */
@media(max-width: 767px){
    .hero1{
        text-align: center;
        padding-top: unset;
    }
    .hero1 h1{
        margin: auto;
        font-size: 2.2rem;
        width: 90%;
    }
    .hero1 p{
        width: 100%;
        padding-top: 15px;
        margin: 0 auto;
    }

    .services h1{
        margin: auto;
        font-size: 2.2rem;
        width: 100%;
    }
    .service1{
        text-align: center;
        margin: 20px auto;
    }
    .service1 h4{
        width: 80%;
        margin: auto;
        padding: 10px 0;
        font-size: 1.2rem;
    }
    .service1 p{
        width: 100%;
    }

    .ratings{
        text-align: center;
    }
    .rating{
        margin: 50px 0;
    }
    .rating h2{
        font-size: 2rem;
    }
    .rating1 h2{
        font-size: 1.5rem;
    }
}